<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/commits.css">

    <title>iGit</title>
</head>
<body>
    {{> header}}

    <main class="main">
        {{> main__nav}}

        {{> main__commits}}
    </main>

    <script src="/js/commits.js"></script>
</body>
</html>
